
.grid-container {
  display: grid;
  grid-template-columns: 10px 10px 10px 10px 10px 10px 10px;
  grid-template-rows: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
  grid-template-areas: "h f f c c c c" 
                       "h f1 h2 h2 g g l2" 
                       "h f2 h3 g2 g2 l3 l3"
                       "h l4 h4 c2 c2 r l5"
                       "l . . . . . ."
                       "l . . . . . ." 
                       ". . . . . . ." 
                       ". . . . . . ." 
                       ". . . . . . ." 
                       ". . . . . . ." 
                       ". . . . . . ." 
                       ". . . . . . .";
}



.h {
    grid-area: h;
    background-color: blue;
    border: 2px; 
}

.l {
    grid-area: l;
    background-color: green;
    border: 2px; 
}
.f {
    grid-area: f;
    background-color: aqua;
    border: 2px; 
}
.c {
    grid-area: c;
    background-color: yellow;
    border: 2px; 
}
.f1 {
    grid-area: f1;
    background-color: aqua;
    border: 2px; 
}
.f2 {
    grid-area: f2;
    background-color: aqua;
    border: 2px; 
}

.h2 {
    grid-area: h2;
    background-color: blue;
    border: 2px; 
}
.h3 {
    grid-area: h3;
    background-color: blue;
    border: 2px; 
}
.h4 {
    grid-area: h4;
    background-color: blue;
    border: 2px; 
}
.g {
    grid-area: g;
    background-color:crimson;
    border: 2px; 
}
.l2 {
    grid-area: l2;
    background-color:green;
    border: 2px; 
}
.g2 {
    grid-area: g2;
    background-color:crimson;
    border: 2px; 
}
.l3 {
    grid-area: l3;
    background-color: green;
    border: 2px; 
}
.l4 {
    grid-area: l4;
    background-color: green;
    border: 2px; 
}
.c2 {
    grid-area: c2;
    background-color: yellow;
    border: 2px; 
}

.r {
    grid-area: r;
    background-color: orangered;
    border: 2px; 
}
.l5 {
    grid-area: l5;
    background-color: green;
    border: 2px; 
}